---
export interface Props {
	title: string;
	emoji: string;
    href: string;
}

const { title, emoji, href } = Astro.props;
---

<a href={href} target="_blank" class="focus:outline-none">
            <p class=" text-xl font-medium text-gray-900">{emoji} {title}</p>
</a>